# Pre-owned car Prediction Analysis

Car price prediction, driven by data analysis and machine learning, is essential in today's automotive industry. It helps buyers and sellers make informed decisions by estimating a vehicle's value based on factors like make, model, mileage, and market demand. This process benefits consumers, sellers, and industry stakeholders alike.

In [1]:
import pandas as pd
df = pd.read_csv("car_data.csv")
df

    Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0     ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1      sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2      ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3    wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manu...
4     swift,2014,4.6,6.87,42450,Diesel,Dealer,Manual,0
..                                                 ...
296    city,2016,9.5,11.6,33988,Diesel,Dealer,Manual,0
297       brio,2015,4,5.9,60000,Petrol,Dealer,Manual,0
298     city,2009,3.35,11,87934,Petrol,Dealer,Manual,0
299    city,2017,11.5,12.5,9000,Diesel,Dealer,Manual,0
300      brio,2016,5.3,5.9,5464,Petrol,Dealer,Manual,0

[301 rows x 1 columns]